<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
</head>
<body>
  <div class="wrapper">
     <h1>There will be posts</h1>
     {% block content %}
     {% endblock %}
  </div>
</body>
</html>
