{% extends 'base.html' %}
{% block title %}All the posts{% endblock %}
{% block content %}
  {% for blog in blogs %}
    <h2>{{ blog.title }}</h2>
    <p>{{ blog.body }}</p>
    <img src="{{ blog.img.url }}"/>
  {% empty %}
    <p>No blog posts yet</p>
  {% endfor %}
{% endblock %}
